.f-12{
    font-size:12px!important;
}
.f-14{
    font-size:14px!important;
}
.f-16{
    font-size:16px!important;
}
.f-18{
    font-size:18px!important;
}
.f-20{
    font-size:20px!important;
}
.f-25{
    font-size:25px!important;
}
.f-26{
    font-size:26px!important;
}
.f-30{
    font-size:30px!important;
}
.f-35{
    font-size:35px!important;
}
.f-38{
    font-size:38px!important;
}
.f-40{
    font-size:40px!important;
}
.f-46{
    font-size:46px!important;
}
.f-50{
    font-size:50px!important;
}
.line-h-15{
    line-height:1.5!important;
}
.f-b{
     font-weight:bold!important;
}