.mt-10{
    margin-top:10px!important;
}
.mb-10{
    margin-bottom:10px!important;
}
.mr-10{
    margin-right:10px!important;
}
.ml-10{
    margin-left:10px!important;
}
.mt-20{
    margin-top:20px!important;
}
.mb-20{
    margin-bottom:20px!important;
}
.mr-20{
    margin-right:20px!important;
}
.ml-20{
    margin-left:20px!important;
}
.mt-30{
    margin-top:30px!important;
}
.mb-30{
    margin-bottom:30px!important;
}
.mr-30{
    margin-right:30px!important;
}
.ml-30{
    margin-left:30px!important;
}
.mt-40{
    margin-top:40px!important;
}
.mb-40{
    margin-bottom:40px!important;
}
.mr-40{
    margin-right:40px!important;
}
.ml-40{
    margin-left:40px!important;
}
.mt-50{
    margin-top:50px!important;
}
.mb-50{
    margin-bottom:50px!important;
}
.mr-50{
    margin-right:50px!important;
}
.ml-50{
    margin-left:50px!important;
}
.mt-60{
    margin-top:60px!important;
}
.mb-60{
    margin-bottom:60px!important;
}
.mr-60{
    margin-right:60px!important;
}
.ml-60{
    margin-left:60px!important;
}
.mt-70{
    margin-top:70px!important;
}
.mb-70{
    margin-bottom:70px!important;
}
.mr-70{
    margin-right:70px!important;
}
.ml-70{
    margin-left:70px!important;
}
.mt-80{
    margin-top:80px!important;
}
.mb-80{
    margin-bottom:80px!important;
}
.mr-80{
    margin-right:80px!important;
}
.ml-80{
    margin-left:80px!important;
}
.mt-90{
    margin-top:90px!important;
}
.mb-90{
    margin-bottom:90px!important;
}
.mr-90{
    margin-right:90px!important;
}
.ml-90{
    margin-left:90px!important;
}
.mt-100{
    margin-top:100px!important;
}
.mb-100{
    margin-bottom:100px!important;
}
.mr-100{
    margin-right:100px!important;
}
.ml-100{
    margin-left:100px!important;
}
.mr-auto{
    margin-right: auto!important;
}
.ml-auto{
    margin-left: auto!important;
}
.m-auto{
    margin: 0 auto!important;
}